@use '../custom' as *;
@use '../base/mixin' as m;

.mobile_menu {
    position: fixed;
    top: 13px;
    right: 18px;
    height: 45px;
    width: 45px;
    z-index: 99;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
        display: none !important;
    }

    i {
        color: $white;
        font-size: 30px;
        font-weight: bolder;
    }
}

.menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100vw;
    z-index: 100;
    background-color: $white;
    transition: all 0.5s ease;
    opacity: 0;

    &.active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    a {
        text-decoration: none;
        color: $secondary;
    }

    a:hover {
        color: $danger;
    }

    .close {
        font-size: 30px;
        position: absolute;
        top: 5px;
        right: 15px;
        cursor: pointer;
        color: $secondary;

        &:hover {
            color: $danger;
        }
    }
}